# Sentry Configuration
NEXT_PUBLIC_SENTRY_DSN=https://17f4e904e93ad0db8706fb1bd808d2c3@o4509552599695360.ingest.us.sentry.io/4509552601137152
SENTRY_AUTH_TOKEN=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

# Other Environment Variables
NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_ANALYTICS=your_ga_tracking_id
MONGODB_URI=mongodb://localhost:27017/tbe-webapp
GOOGLE_AUTH_CLIENT_ID=your_google_client_id
GOOGLE_AUTH_CLIENT_SECRET=your_google_client_secret
BASE_API_URL=http://localhost:3000/api
BASE_AUTH_API_URL=http://localhost:3000/api/auth
ADMIN_SECRET=your_admin_secret
NEXTAUTH_SECRET=your_nextauth_secret
OPENAI_API_KEY=
YOUTUBE_API_KEY=your_youtube_api_key
ADMIN_BASE_URL=http://localhost:3000/admin
CASHFREE_BASE_URL=https://api.cashfree.com
CASHFREE_SECRET_KEY=your_cashfree_secret
CASHFREE_CLIENT_ID=your_cashfree_client_id