NEXT_PUBLIC_API_URL=http://localhost:3004/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=183084025505-alsdac6fb8au9cr1enhaf2v3sg79mq9a.apps.googleusercontent.com
NEXT_PUBLIC_ONBOARDING_URL=
NEXT_PUBLIC_GA_MEASUREMENT_ID=