# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3004/api/v1
NEXT_PUBLIC_ONBOARDING_URL=
NEXT_PUBLIC_GA_MEASUREMENT_ID=

# NextAuth Configuration (Server-side only)
GOOGLE_AUTH_CLIENT_ID=your_google_client_id
GOOGLE_AUTH_CLIENT_SECRET=your_google_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXT_PUBLIC_GTM_ID=